apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: podinfo-backend
  namespace: dev
spec:
  path: /
  to:
    name: backend
    weight: 100
    kind: Service
  host: ''
  tls:
    insecureEdgeTerminationPolicy: Allow
    termination: edge
  port:
    targetPort: http
